<div class="container mt-5" style="max-width: 400px;">
  <h2 class="text-center text-primary mb-4">
    <i class="bi bi-person-circle"></i> Iniciar Sesión
  </h2>

  <form [formGroup]="form" (ngSubmit)="login()" class="border p-4 rounded shadow-sm bg-white">

    <div class="mb-3">
      <label class="form-label">Correo electrónico:</label>
      <input type="email" formControlName="email" class="form-control" placeholder="ejemplo@correo.com" />
      <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
        <small class="text-danger">Ingresa un email válido</small>
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Contraseña:</label>
      <input type="password" formControlName="password" class="form-control" placeholder="********" />
      <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
        <small class="text-danger">La contraseña es requerida</small>
      </div>
    </div>

    <button type="submit" class="btn btn-primary w-100" [disabled]="form.invalid">
      <i class="bi bi-box-arrow-in-right"></i> Iniciar sesión
    </button>

  </form>

  <div class="text-center mt-3">
    <a routerLink="/registro" class="text-decoration-none">
      ¿No tienes una cuenta? <strong>Regístrate aquí</strong>
    </a>
  </div>
</div>
